<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Marathon edit</title>
</head>
<body>
<header>
    <a href="/marathons">All marathons</a>
    <span> || </span>
    <a href="/students">All students</a>
</header>
<h1> Edit marathon</h1>
<form th:action="@{/marathons/edit}" th:object="${marathon}" method="post">
    <p>Enter new marathon title: <input type="text" th:field="*{title}"/></p>
    <input type="hidden" th:field="*{id}" th:default="${marathon.getId()}"/></p>
    <p><input type="submit" value="APPLY CHANGES"/></p>
</form>
</body>
</html>