<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Marathons</title>
</head>
<body>
<h2>Marathons list</h2>
<table>
    <tr>
        <td>
            Number of marathons:
        </td>
        <td th:text="${marathons.size()}">
        </td>
    </tr>
</table>
<div class="container">
    <div class="row">
        <table border="1">
            <tr th:each="marathon, index : ${marathons}">
                <td th:text="${index.count}"></td>
                <td th:text="${marathon.title}"></td>
                <td>
<!--                    <label for="relativeLink"></label>-->
<!--                    <a id="relativeLink" th:href="@{/marathons/create}">-->
<!--                        <input type="submit" value="Edit"/>-->
<!--                    </a>-->
                    <form action="/marathons/edit">
                        <input type="submit" value="Edit marathon"/>
                    </form>
                </td>
                <td>
                    <form action="/marathons">
                        <input type="submit" value="Close"/>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <br>
    <form action="/marathons/create">
        <input type="submit" value="Create marathon"/>
    </form>
</div>
</body>
</html>