<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<header>
    <a href="/marathons">All marathons</a>
    <span> || </span>
    <a href="/students">All students</a>
</header>
<h1>List of all Students:</h1>
<div class="container">
    <div class="row">
        <table border="2">
            <tr th:each="student, index : ${students}">
                <td th:text = "${index.count}"></td>
                <td><a th:text="${student.firstName}" th:href="@{/student/{studentId}(studentId=${student.id})}"></a></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
            </tr>


        </table>
    </div>
</div>

</body>
</html>