<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <a href="/marathons">All marathons</a>
    <a href="/students">All students</a>
</header>
<h2>Students List</h2>
<div class="container">
    <div class="row">
        <table border="1">
            <tr th:each="student, index : ${students}">
                <td th:text = "${index.count}"></td>
                <td><a href=""th:text="${student.firstName}" th:href="@{/student/{studentId}(studentId=${student.id})}"></a></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:text="${marathon.title}"></td>
                <td>
                    <form action="#" th:action="@{/students/{marathonId}/delete/{studentId}(studentId=${student.id}, marathonId=${marathon.id})}" method="get">
                        <button type="submit">Remove from marathon</button>
                    </form>
                </td>
            </tr>
        </table>
        <form action="#" th:action="@{/students/{marathon_id}/add(marathon_id=${marathon.id})}" method="get">
            <button type="submit">Add student to marathon</button>
        </form>
    </div>
</div>
</body>
</html>