<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<header>
    <a href="/marathons">All marathons</a>
    <a href="/students">All students</a>
</header>
<h2>Students List</h2>
<div class="container">
    <div class="row">
        <table border="1">
            <tr th:each="student, index : ${students}">
                <td th:text = "${index.count}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td th:each="marathon : ${student.marathons}">
                    <p th:text="${marathon.title}"></p>
                    <form action="#" th:action="@{/students/{marathonId}(marathonId=${marathon.getId()}/delete/{studentId}(studentId=${student.getId()})}" method="get">
                        <button th:id="${marathon.getId()}" type="submit">Close</button>
                    </form>

                </td>
                <td>
                    <form action="/students/{marathonId}/delete/{studentId}">
                        <input th:id="" type="button">
                    </form>
                </td>

            </tr>


        </table>
    </div>
</div>

</body>
</html>